<div class="home">

  <div class="item-list-container" id="collections-index">
    <div class="side-bar">
    </div>
    <div class="items-container">
      <div class="results results--loaded">
        <div class="results-header">
          <%= @collection.title %>
        </div>
        <% @collection.articles.each do |article| %>
          <div class="item-wrapper">
            <a class="item" href="/<%= article.canonical_url %>">
              <div class="item-title">
                <%= article.title %>
              </div>
              <div class="item-details">
                <a class="item-user" href="/<%= article.user.username %>">
                  <%= article.user.username %>
                  <%= article.reading_time %> min read
                </a>
                <% if article.tags.length > 0 %>
                  <span class="item-tags">
                    <% article.tags.each do |tag| %>
                      <a class="item-tag" href="/t/<%= tag %>">
                        #<%= tag %>
                      </a>
                    <% end %>
                  </span>
                <% end %>
              </div>
            </a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
